.grid {
    padding-top: 75px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 416px;
    gap: 30px;

}

.gridItem {
    position: relative;
    outline: none;
}

.active{
    outline: none;
    position: relative;
    border: 7px solid #4FE24A;
    border-radius: 12px;
}

.inner{
    position: absolute;
    bottom: 53px;
    left: 48px;
}

.button{
    min-width: 84px;
    height: 38px;
    border: 0;
    border-radius: 18px;
    background-color: #FFFFFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;

}

.button:hover{
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.58);
}

.name{
    padding-top: 16px;
    font-size: 40px;
    font-weight: 400;
    color: #FFFFFF;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width: 1099px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 1040px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
}


